@font-face {
    font-family: 'Mary Roman';
    src: url('MaryRoman.eot');
    src: local('Mary Roman'), local('MaryRoman'),
        url('MaryRoman.eot?#iefix') format('embedded-opentype'),
        url('MaryRoman.woff2') format('woff2'),
        url('MaryRoman.woff') format('woff'),
        url('MaryRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

